<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alunos works</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let aluno of alunoss">
    <h1>{{aluno.company.name}}</h1>
  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="pegarDados($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando dados...">
    </ion-infinite-scroll-content>    
   </ion-infinite-scroll>
</ion-content>
